:root{
    --color-principal:#024bc2;
    --color-secundario:#cce0ff;
    --color-terciaria:#e6f0ff;
    --color-fundo:#f2f7ff;
    --color-texto:#363636;
    
}

html{
    box-sizing: content-box;
box-sizing: border-box;
    font-size:62.5%;
}

body{
    width:100vw;
    overflow:hidden;
    background-color:var(--color-fundo);
    
}
img{
    width:100%;
    height: auto;
    margin-bottom:0.5rem;
}
article{
    background-color:white;
    padding: 20px;
}
aside{
    background-color: var(--color-terciaria);
    padding: 10px;
}
footer{
    background-color: var(--color-principal);
    width:100%;
    padding:20px 0;
   
}
header{
    background-color: var(--color-principal);
    width:100%;
    padding:20px;
    border-bottom:1px solid #000;
}

footer p{
     color: white;
     text-align:center;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 20%;
}

h1, h2, h3, h4, h5, h6{
    color:var(--color-principal);
    margin-bottom:1.5rem;
    font-family: 'Open Sans', sans serif;
    font-weight: 800;
}
h1{
    font-size:2.6rem;
}
h2{
    font-size:1.8rem;
}
h3,h4,h5,h6{
    font-size:1.5rem;
}

p{
    font-size:1.4rem;
    line-height:1.8rem;
    font-family: 'Open Sans', sans serif;
    color: var(--color-texto);
    
}
nav ul{
    margin:0;
    padding:0;
}

nav li{
    background-color: #d9e8ff;
    padding:1rem;
    width:auto;
    margin:0 0 0.3rem 0;
    list-style-type:none;
    
    
}

nav li:hover{
    background-color: #bfd8ff;
    
    
    
}
nav li a{
    text-decoration:none;
    color:var(--color-texto);
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight:800;
}
header img{
    width:200px !important;
    height: auto;
}
