:root {
  --vermelho: #e50914;
  --preto: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Elementos base*/

body {
  background-color: var(--preto);
  font-family: "Times New Roman", Times, serif;
  color: white;
}
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  color: var(--vermelho);
  font-family: "Arial Black", Times;
  font-size: 40px;
  margin-left: 5px;
}
header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}
header nav a:hover {
  color: #fff;
}

/*Filme principal*/

.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/capa.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}
.filme-principal .titulo {
  margin-top: 10%;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.botao {
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease all;
}
.botao:hover {
  background-color: white;
  color: black;
}
.botao i {
  margin-right: 5px;
}
.container{
    margin-left: 20px;
   
}
.filme-principal .container{
    width: 70%;
}
.box-filmes{
    height: 100%;
    width: 100%;
    display: block;
}